// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;

// Changing the body background and text
//$body-bg: #d3e9eb;
//$body-color: #151417;

// Changing the border radius of buttons
//$border-radius: 15px;

// Changing the theme colors
//$primary: #202f41;
//$secondary: #436296;
//$success: #2bc550;
//$info: #495dff;
//$warning: #ef8143;
//$danger: #ff293a;
//$light: #dfe6ee;
//$dark: #0f1319;


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);

//Colors
$aero-gradient-top: #f0f0f0;
$aero-gradient-bottom: #dddddd;
//Secuess (green)
$aero-gradient-top-success: #dbf2d8;
$aero-gradient-bottom-success: #abe1a3;
//btn-danger
$aero-gradient-top-danger: #f7dddc;
$aero-gradient-bottom-danger: #eeb1b1;
//Warning
$aero-gradient-top-warning: #fef0da;
$aero-gradient-bottom-warning: #fce0b0;
//Info
$aero-gradient-top-info: #f1f1f1;
$aero-gradient-bottom-info: #dbdbdb;

$aero-gradient-top-hover: #e1f3fc;
$aero-gradient-bottom-hover: #bde5fc;

$aero-button-border-color: #727272;
$aero-button-border-color-primary: #3f95c3;
$aero-button-border-color-primary-inner: #62dcfa;


$aero-button-text-color: black;
$aero-button-border-rad: 3px;
$aero-button-border-width: 0.5px;

//navs
$aero-bg-top: #7DA5BE;
$aero-bg-top-down: #7DA5BE;
$aero-bg-mid: #044875;

$aero-bg-bottom: #39759C;

//borders
$aero-border: 1px solid rgba(0, 0, 0, 0.3);
//shadows
$aero-box-shadow: 0 1px 2px rgba(0,0,0,.05);
$aero-text-shadow: 0px 0px 5px #000;
$aero-text-shadow-light: 0px 0px 5px rgba(255, 255, 255,0.5);


