.bg-aero {
    background: rgb(181,227,230);
    background: linear-gradient(180deg, rgba(181,227,230,1) 0%, rgba(150,206,210,1) 25%, rgba(104,179,184,1) 45%, rgba(104,179,184,1) 48%, rgba(83,157,162,1) 49%, rgba(69,144,151,1) 50%, rgba(6,120,131,1) 75%, rgba(20,125,133,1) 100%);    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    border-width: 1px;
    border-color: #7bb4c1;
}
.bg-aero2 {
    background: linear-gradient(180deg,#7FA6BF 0%,#6090B0 48%,#3A769C 48%,#044875 50%,#13527C,#67A3B8);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    border-width: 1px;
    border-style: solid;
    border-color: #A6C1D3;
}
.bg-aero-vista {
    background: rgb(21,129,133);
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0) 25%),
    linear-gradient(180deg, rgba(21,129,133,0.7) 0%, rgba(47,145,142,0.7) 25%, rgba(63,155,147,0.7) 50%, rgba(92,173,154,0.7) 75%, rgba(142,217,168,0.7) 100%),
    linear-gradient(90deg, rgba(63,155,147,1) 0%, rgba(46,174,170,1) 24%, rgba(84,200,149,1) 50%, rgba(102,179,156,1) 75%, rgba(70,168,158,1) 100%);
}
.bg-aero-win7 {
    background: #153587;
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(0,0,0,0) 25%),
    linear-gradient(180deg, rgba(29,135,175,0.7) 0%, rgba(47,166,196,0.7) 25%, rgba(28,195,227,0.7) 50%, rgba(28,195,227,0.7) 75%, rgba(40,187,255,0.7) 100%),
    linear-gradient(90deg, rgba(29,135,175,1) 0%, rgba(28,195,227,1) 25%, rgba(47,166,196,1) 50%, rgba(28,195,227,1) 75%, rgba(18,120,166,1) 100%);
    
}