@import 'custom-variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'buttons';
@import 'backgronds';
@import 'alert';
@import 'card';
@import 'listgroup';
@import 'badge';
@import 'navbar';

// General Sytles
body, form, p {
	margin: 0px;
	padding: 0px;
	font-family: 'メイリオ', Meiryo, Verdana, 'ＭＳ Ｐゴシック', Osaka, sans-serif;
}

h1,h2,h3,h4,h5 {
    color:#036F87;
}
a {
    color:#036F87;
}
a:hover {
    color:#bf2640;
}
p {
    text-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}